body {
  background-color: #17261f;
}
.icon {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 75px;
  background-color: pink;
  transform: translate(-50%, -50%);
}
.water {
  position: absolute;
  bottom: 0;
  background: rgba(155, 193, 196, 0.4);
  width: 500px;
}
.wave1 {
  height: 22px;
  border-top-right-radius: 100% 0px;
  border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.wave2 {
  height: 25px;
  border-top-right-radius: 100% 5px;
  border-top-left-radius: 100% 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.wave3 {
  height: 20px;
  border-top-right-radius: 100% 15px;
  border-top-left-radius: 100% 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.boat {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%, -50%);
  background: #c77048;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 50px;
  height: 15px;
  animation-name: oxxo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes oxxo {
  from {
    left: 0;
  }
  to {
    left: 450px;
  }
}
.sail1 {
  position: absolute;
  left: calc(50% + 12px);
  top: 28px;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 25px;
  border-color: transparent transparent transparent #586e60;
  animation-name: oxxo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}